<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--  -->
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>Team Victory</title>
</head>

<body>


    <div class="jumbotron jumbotron-fluid mb-0 pb-0 border-bottom border-danger" id="header">
        <div class="container">
            <a class="logo" href="/views/home"><img src="https://i.imgur.com/WqY56yY.png" alt="Team Logo" width="75px"
                    height="40px"></a>
            <h3 id="team_name">Team Victory</h3>
            <!-- <a href="/views/auth/login" class="sign_in">
                <h6>Sign In</h6>
            </a>
            <a href="#" class="register">
                <h6>Register</h6>
            </a> -->
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid mt-0 pt-1 pb-1" id="links">
        <div class="container">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="/views/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/views/characters">Characters</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/views/campaign">Campaign</a>
                </li>
                <li class="nav-item">
                    <a href="/views/events" class="nav-link">Events</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container mt-5">
        <div class="jumbotron m-5 backsplash">
            <h3>Create a new event</h3>
            <form action="/views/createEvent" method="POST" name="eventForm">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Title" id="newEventTitle"
                                    name="newEventTitle" autofocus="autofocus" required>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Time" id="newEventTime"
                                    name="newEventTime" required>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <select name="newEventSelector" id="newEventSelector" class="form-control">
                                    <option name="AM">am</option>
                                    <option name="PM">pm</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <select class="form-control" id="newEventMonth" name="newEventMonth" required>
                                    <option class="long" name="January">January</option>
                                    <option class="short" name="February">February</option>
                                    <option class="long" name="March">March</option>
                                    <option class="short" name="April">April</option>
                                    <option class="long" name="May">May</option>
                                    <option class="short" name="June">June</option>
                                    <option class="long" name="July">July</option>
                                    <option class="long" name="August">August</option>
                                    <option class="short" name="September">September</option>
                                    <option class="long" name="October">October</option>
                                    <option class="short" name="November">November</option>
                                    <option class="long" name="December">December</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <select class="form-control" id="newEventDay" name="newEventDay" required>
                                    <option name="1">1</option>
                                    <option name="2">2</option>
                                    <option name="3">3</option>
                                    <option name="4">4</option>
                                    <option name="5">5</option>
                                    <option name="6">6</option>
                                    <option name="7">7</option>
                                    <option name="8">8</option>
                                    <option name="9">9</option>
                                    <option name="10">10</option>
                                    <option name="11">11</option>
                                    <option name="12">12</option>
                                    <option name="13">13</option>
                                    <option name="14">14</option>
                                    <option name="15">15</option>
                                    <option name="16">16</option>
                                    <option name="17">17</option>
                                    <option name="18">18</option>
                                    <option name="19">19</option>
                                    <option name="20">20</option>
                                    <option name="21">21</option>
                                    <option name="22">22</option>
                                    <option name="23">23</option>
                                    <option name="24">24</option>
                                    <option name="25">25</option>
                                    <option name="26">26</option>
                                    <option name="27">27</option>
                                    <option name="28">28</option>
                                    <option name="29">29</option>
                                    <option name="30">30</option>
                                    <option name="31" id="lastDay">31</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Year" id="newEventYear"
                                    name="newEventYear" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="newEventDescription" rows="5" placeholder="Description"
                        name="newEventDescription" required></textarea>
                </div>
                <button type="submit" class="btn btn-dark">Create Event</button>
        </div>
    </div>
    </form>
    </div>
    </div>

    <!-- JavaScript -->
    <script src="../scripts/dates.js"></script>
    <script src="../scripts/newEvent.js"></script>
    <script src="/database.js"></script>
    <!--  -->
    <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>
</body>

</html>