<!doctype html>
<html lang="en" class="index">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!--  -->
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/logo_animation.css">

  <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">

  <title>Team Victory</title>
</head>

<body>


  <div class="index">
    <div class="logo">
      <div class="d-flex justify-content-center m-5">
        <div class="jumbotron-fluid">
          <h3 class="would">Would</h3>
          <h3 class="you">you</h3>
          <h3 class="like">like</h3>
          <h3 class="to">to</h3>
          <h3 class="dash">dash?</h3>
        </div>
      </div>
    </div>

    <div class="button">
      <div class="d-flex justify-content-center m-5">
        <form action="/" method="POST">
          <button class="btn btn-danger btn-lg" type="submit">Enter</button>
        </form>
      </div>
    </div>

    <div class="eyes">
      <img class="red_eyes" src="https://i.imgur.com/WqY56yY.png" alt="Team Logo" width="250px" height="100px">
    </div>
  </div>




  <!-- JavaScript -->
  <script src="/src/dates.js"></script>
  <script src="/src/newEvent.js"></script>
  <script src="/database.js"></script>
  <!--  -->
  <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>